*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #9c9c9c;
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

main {
    margin: auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

h2 {
    margin: 0px;
}

.title {
    margin: auto;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.title h1 {
    background-color: #00669F;
    width: 100%;
    margin: 0px;
    padding: 15px 20px;
    font-weight: 400;
}

.discount {
    display: flex;
    align-items: center;
    margin: auto;
    background-color: orange;
    height: 38px;
}

.discount p {
    padding-left: 20px;
    margin-top: 0;
}

.characters {
    width: 100%;
    padding-block-start: 50px;
    padding-block-end: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
}

.scroll-down {
    z-index: 100;
    position: absolute;
    right: 10px;
    top: 626px;
    font-size: 3rem;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #00669F;
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;

}

.scroll-down p {
    margin: auto;
}

.scroll-down p a,
.scroll-down p a:visited {
    text-decoration: none;
    color: #fff;
}

.hero-card {
    margin: 15px 5px 70px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 300px;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    background-color: #eee;
    position: relative;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}

.hero-img-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.hero-bkg {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-height: 180px;
}

.hero-img {
    border-radius: 50%;
    width: 120px;
    align-self: center;
    position: absolute;
    bottom: -50px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}

div.hero-name p {
    text-align: center;
    font-size: 1.87rem;
    font-weight: 400;
    margin: 20px 0px 4px;

}

.hero-description {
    padding: 15px;
    font-size: 1rem;
    font-weight: 400;
    margin: 0px;
}

.fa-heart {
    position: absolute;
    color: #CC2424;
    top: 10px;
    left: 10px;
    font-size: 1.25rem;

}

.more-info {
    margin-top: auto;
    width: 129px;
    height: 49px;
    background-color: #00669F;
    align-self: center;
    color: white;
    border: none;
    padding-block-end: 5px;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #00669F;
    align-items: center;
    position: relative;
}

footer p {
    color: #fff;
}

.github-logo {
    position: absolute;
    right: 50px;
    margin-left: auto;
    width: 100px;
}

@media (max-width:1023px) {
    .scroll-down {
        display: flex;
    }
}

@media (max-width:767px) {
    .scroll-down {
        top: 618px;
        flex: 1;
    }
}